.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;

  color: #1f2937;
}

.header p {
  margin-top: 6px;
  color: #6b7280;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;

  font-size: 1rem;
  font-weight: 600;
  color: #6b7280;
}
