/* GENERAL LAYOUT */
* {
  box-sizing: border-box;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background:
    radial-gradient(circle at top, rgba(59, 130, 246, 0.15), transparent 30%),
    radial-gradient(
      circle at bottom right,
      rgba(139, 92, 246, 0.2),
      transparent 35%
    ),
    #0f172a;

  /* background: #1c2125; */
  /*  background: linear-gradient(135deg, #feca57, #48dbfb, #5f27cd); */
  /* overflow: hidden; */
}

/* .app-container::before,
.app-container::after {
  content: "";
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(100px);
} */

/* .app-container::before {
  background: #3b82f6;
  top: 300px;
  left: -100px;
} */

/* .app-container::after {
  background: #8b5cf6;
  bottom: -100px;
  right: -100px;
} */

.header {
  position: sticky;
  top: 0;
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(20px);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 20px rgba(0, 0, 200, 0.5);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; /* allows wrapping on small screens */
  padding: 2px 16px;
  gap: 12px;

  z-index: 10;
}
/* HEADER LOGO */

.btn-dept {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dept-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* LOGO */
.logo {
  font-weight: bold;
  font-size: 18px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: 16px;
  white-space: nowrap;
}

.home-semitec-logo {
  height: 30px;
}

/* DEPARTMENT BUTTON*/
.btn-dept {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 10px;
  font-size: 10px;
  border-radius: 6px;
  transition: 0.2s ease;
  white-space: nowrap;
}

.btn-dept:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* MENU WRAPPER */
.menu-wrapper {
  position: relative;
  display: inline-block;
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  color: #111;
  width: 220px;
  max-height: 300px;
  /* overflow-y: auto; */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 100;
  animation: fadeIn 0.15s ease-in-out;
}

.submenu-dropdown {
  position: absolute;
  z-index: 100;
}

/* DROPDOWN SECTION */

.subitem-section {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.subitem-section:hover,
.submenu-item:hover {
  background: rgba(153, 37, 37, 0.08);
}

/* MAIN CONTENT */
.main-container {
  flex: 1;
  padding: 20px;
}

.content-box {
  position: relative;
  z-index: auto;

  background: rgba(15, 23, 42, 0.65);

  /* backdrop-filter: blur(20px); */

  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.3),
    inset 0 1px 1px rgba(255, 255, 255, 0.08);

  padding: 20px;
}

.content-box::before {
  content: "";

  position: absolute;

  inset: 0;

  border-radius: inherit;

  padding: 1px;

  background: linear-gradient(
    135deg,
    rgba(59, 130, 246, 0.4),
    rgba(139, 92, 246, 0.4)
  );

  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  mask-composite: exclude;

  pointer-events: none;
}

.content-box .content-title {
  margin-top: 0;
  color: rgb(230, 230, 230);
}
.empty-space {
  color: #777;
  height: 85vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-space img {
  height: 300px;
  width: 500px;
  /*  animation: float 4s ease-in-out infinite; */
  /* animation: pulse 3s infinite; */
  opacity: 0;
  filter: blur(10px);
  animation:
    reveal 4s ease forwards,
    pulse 5s ease-in-out infinite;
}

/*===================
    ANIMATION
=====================*/
@keyframes reveal {
  to {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
/* @keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CONTENT ANIMATION */

@keyframes contentAnimation {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes curtainOpen {
  0% {
    clip-path: inset(0 50% 0 50%);
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
    transform: scale(1);
  }
}

/*===================
   RESPONSIVE DESIGN
=====================*/

/* TABLET */

@media (max-width: 768px) {
  .header {
    gap: 8px;
    padding: 10px;
  }

  .dropdown {
    width: 200px;
  }

  .btn-dept {
    font-size: 13px;
    padding: 6px 8px;
  }
}

/* MOBILE */

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    border-right: none;
    padding-right: 0;
    margin-bottom: 8px;
  }

  .dropdown {
    position: relative; /* importannt for mobile usability */
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }

  .menu-wrapper {
    width: 100%;
  }

  .btn-dept {
    width: 100%;
    text-align: left;
  }

  .subitem-section {
    padding: 12px;
  }
}
