:root {
  --header-fc: white;
  --header-bc: rgba(54, 72, 112, 0.6);
}

.ticket-mainuser-topbar {
  height: 60px;
  /* background: rgba(0, 0, 0, 0.3); */
  background: linear-gradient(135deg, rgb(34, 34, 150), rgb(11, 17, 25));
  backdrop-filter: blur(20px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 25px;
  border-bottom: 1px solid #4e4747;

  /*  position: sticky;
  top: 0;
  z-index: 9999; */
}

/* LOGO CONTAINER */

.ticket-mainuser-topbar-logo-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
}

.ticket-mainuser-topbar-logo-container p {
  color: var(--header-fc);
  font-weight: 600;
  font-size: 14px;
}

.ticket-mainuser-topbar-logo-container img {
  height: 30px;
  width: 30px;
}

/* PROFILE CONTAINER */
.ticket-mainuser-profile-topright {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--header-fc);
}

.ticket-mainuser-profile-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 12px;
}

.ticket-mainuser-profile-wrapper {
  position: relative;
  padding: 10px;
}

.ticket-mainuser-profile-dropdown {
  position: absolute;
  /* top: calc(100% - 5px); */
  top: 35px;
  right: 0;
  background: linear-gradient(135deg, rgb(15, 32, 127), rgb(42, 69, 218));
  color: white;
  border-radius: 8px;
  width: 150px;
  z-index: 100;
}

.ticket-mainuser-profile-wrapper:hover .ticket-mainuser-profile-dropdown {
  display: block;
}

.ticket-mainuser-profile-dropdown p {
  padding: 15px;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  /* 
  text-align: center; */
}

.ticket-mainuser-profile-dropdown p:hover {
  background: #93b3f1;
}
