.ticket-main-changepass-container {
  padding: 25px;
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 10px;
}

.ticket-main-changepass-header {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.ticket-main-changepass-body {
  display: flex;
}

.ticket-main-changepass-form {
  flex: 1;
  display: grid;
  gap: 12px;
}

.ticket-main-changepass-form-group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.ticket-main-changepass-form-group span {
  position: absolute;
  top: 30%;
  right: 12px;
  color: black;
}

.ticket-main-changepass-form-group label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 5px;
  flex: 1;
}

.ticket-main-changepass-form-group label:last-child {
  padding: 10px;
  flex: 1;
}
.ticket-main-changepass-form-group input {
  padding: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  outline: none;
  flex: 1;
}

.ticket-main-changepass-form-group input:focus {
  border-color: #007bff;
}

.ticket-main-changepass-button-form-container {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.ticket-main-changepass-changebtn {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.ticket-main-changepass-changebtn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(136, 232, 136);

  transform: scaleY(0);
  transition: transform 0.3s ease;

  z-index: -1;
}
.ticket-main-changepass-changebtn:hover::before {
  transform: scaleY(1);
}

.ticket-main-changepass-changebtn:hover {
  color: black;
}
