* {
  box-sizing: border-box;
}

:root {
  --fc: white;
}

.curtain-open {
  animation: curtainOpen 1s ease forwards;
}

/* PAGE */

.ris-page {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 50px 20px;

  background:
    radial-gradient(circle at top right, #3b82f6 0%, transparent 30%),
    radial-gradient(circle at bottom left, #1e40af 0%, transparent 30%), #0f172a;
}

/* SUCCESS MESSAGE MODAL */
.ris-success-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  z-index: 1000;
}

.ris-success-modal {
  position: relative;
  min-width: 300px;
  height: 150px;
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  animation: modalSlideDown 1s ease;
}

.ris-success-close-btn {
  position: absolute;
  height: 35px;
  width: 35px;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  background-color: #dc2626;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.ris-success-close-btn:hover {
  background-color: #e66363;
}
/* RIS LOGIN OVERLAY */
.ris-login-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* RIS LOGIN MODAL */
.ris-login-modal {
  /* background-color: white;
  padding: 30px;
  border-radius: 12px;
  min-width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); */

  min-width: 350px;
  padding: 30px;
  border-radius: 12px;
  background: rgba(15, 23, 42, 0.65);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.3),
    inset 0 1px 1px rgba(255, 255, 255, 0.08);

  border-radius: 18px;
  padding: 35px;

  animation: pulseBorder 2s ease infinite;
}

.ris-login-modal::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    135deg,
    rgba(59, 130, 246, 0.4),
    rgba(139, 92, 246, 0.4)
  );

  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  mask-composite: exclude;
  pointer-events: none;
}

/* WHEN RIS LOGIN IS DISABLED */
.ris-login-disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* CONFIRM MESSAGE MODAL */
.ris-confirm-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.ris-confirm-modal {
  min-width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: modalSlideDown 1s ease;
}

.ris-confirm-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-top: 20px;
  align-items: center;
}

.ris-confirm-btn-container button {
  padding: 9px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

.ris-confirm-btn-container button:first-of-type {
  background-color: rgb(77, 215, 103);
  color: rgb(5, 65, 16);
}

.ris-confirm-btn-container button:first-of-type:hover {
  background-color: rgb(37, 225, 72);
}

.ris-confirm-btn-container button:nth-child(2) {
  background-color: #cfcfcf;
}

.ris-confirm-btn-container button:nth-child(2):hover {
  background-color: #c0bdbd;
}

/* CLOSE BUTTON */
.ris-login-close {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background: #dc2626;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* CARD */
.ris-card {
  width: 100%;
  max-width: 500px;

  /*   background: #ffffff;
  border-radius: 18px;
  padding: 25px;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    0 2px 6px rgba(0, 0, 0, 0.5);
  border: 1px solid #e5e7eb; */
  background: rgba(15, 23, 42, 0.65);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.3),
    inset 0 1px rgba(255, 255, 255, 0.08);
  padding: 25px;

  animation:
    pulseBorder 2s ease infinite,
    flipSlideDown 1s ease-out forwards;
}

.ris-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    135deg,
    rgba(59, 130, 246, 0.4),
    rgba(139, 92, 246, 0.4)
  );

  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

/* HEADER */
.ris-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ris-login-btn-container button {
  border: none;
  border-radius: 10px;
  background: #1e3a8a;
  color: white;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 8px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ris-login-btn-container button img {
  height: 20px;
  width: 20px;
}

.ris-login-btn-container button:hover {
  background-color: #2563ab;
  transform: translatex(5px);
}

.ris-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--fc);
}

.ris-header p {
  margin-top: 8px;
  font-size: 12px;
  color: var(--fc);
}

/* BODY */
.ris-body {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* INPUT */
.ris-input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.ris-date-container {
  display: flex;
  align-items: center;
}

.ris-date-container label {
  margin-right: 20px;
}

.ris-date-container p {
  font-size: 12px;
  font-weight: 600;
  color: var(--fc);
}

.ris-input-group label {
  font-size: 12px;
  font-weight: 600;
  color: var(--fc);
}

.ris-input-group input {
  height: 48px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 12px;
  outline: none;
  transition: all 0.2s ease;
}

.ris-input-group input[type="text"]:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.15);
}

.ris-input-group select {
  height: 48px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 12px;
  outline: none;
}

.ris-qty-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ris-qty-group {
  display: flex;
  justify-content: space-around;
  border: 1px solid #cbd5e1;
  gap: 15px;
  flex-wrap: wrap;
}

.ris-qty-group label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 12px;
}

.ris-qty-group input {
  cursor: pointer;
}

/* BUTTON */
.btn-request {
  height: 45px;
  border: none;
  border-radius: 10px;
  background: #1e3a8a;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-request:hover {
  background-color: #2563ab;
  transform: translateY(-1px);
}

.btn-request img {
  height: 30px;
  width: 30px;
}

@keyframes modalSlideDown {
  from {
    transform: translateY(-100px) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes curtainOpen {
  0% {
    transform: scaleX(0);
    opacity: 0;
    filter: brightness(0.5);
  }

  60% {
    transform: scaleX(1.05);
    opacity: 1;
    filter: brightness(1.1);
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
    filter: brightness(1);
  }
}

/* PULSE BORDER */
@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 99, 235, 0.7);
  }

  70% {
    box-shadow: 0 0 0 12px rgba(37, 99, 235, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(37, 99, 235, 0);
  }
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
  }

  50% {
    box-shadow:
      0 0 15px rgba(37, 99, 235, 0.7),
      0 0 30px rgba(37, 99, 235, 0.5);
  }

  100% {
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
  }
}

@keyframes flipInFade {
  0% {
    opacity: 0;
    transform: perspective(1000px) rotateY(-90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(1000px) rotateY(0deg);
  }
}

@keyframes flipSlideDown {
  0% {
    opacity: 0;
    transform: perspective(1000px) rotateX(-90deg) translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: perspective(1000px) rotateX(0deg) translateY(0);
  }
}
