* {
  box-sizing: border-box;
}

:root {
  --fc: white;
}

/* CONTAINER */

.ris-login-container {
  width: 100%;

  animation: modalSlideDown 1s ease;
}

/* LOGIN ERROR MESSAGE */
.ris-login-error {
  background: #fee2e2;
  color: #dc2626;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

/* LOGIN SUCCESS MESSAGE */
.ris-login-success {
  background-color: rgb(178, 251, 178);
  color: rgb(11, 118, 11);
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

/* CLOSE BUTTON */
.btn-ris-close-login {
  position: absolute;
  top: -20px;
  right: -20px;

  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #dc2626;
  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  animation: closeBtnOpacity 1.5s forwards;
  /* animation: pulseBorder 1s infinite;
  animation-play-state: paused; */
}

.btn-ris-close-login:hover {
  background: #b91c1c;
  transform: scale(1.05);
  /* animation-play-state: running; */
}

.ris-login-header {
  text-align: center;
  margin-bottom: 25px;
}

.ris-login-header h2 {
  margin: 0;
  color: var(--fc);
  font-size: 26px;
}

.ris-login-header p {
  margin-top: 8px;
  color: var(--fc);
  font-size: 14px;
}

.ris-login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.ris-login-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ris-login-group label {
  font-size: 14px;
  font-weight: 600;
  color: var(--fc);
}

.ris-login-group input {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

.ris-login-group input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.btn-ris-login-submit {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #1e3a8a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-ris-login-submit img {
  height: 30px;
  width: 30px;
}

.btn-ris-login-submit:hover {
  background: #2563ab;
}

@keyframes modalSlideDown {
  from {
    transform: translateY(-100px) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* CLOSE BUTTON ANIMATION */
@keyframes closeBtnOpacity {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 0;
    transform: scale(0.25);
  }
  50% {
    opacity: 0;
    transform: scale(0.5);
  }
  75% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 99, 235, 0.7);
  }

  70% {
    box-shadow: 0 0 0 12px rgba(37, 99, 235, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(37, 99, 235, 0);
  }
}
