.category_container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;

  overflow-y: auto;

  /* Adjust based on your layout */
  min-height: calc(100vh - 80px);

  /* Firefox */
  scrollbar-width: none;

  /* IE/Edge Legacy */
  -ms-overflow-style: none;
}

/* Chrome, Edge, Safari */
.category_container::-webkit-scrollbar {
  display: none;
}
.header {
  margin-bottom: 1.5rem;
}

.header h2 {
  color: #1f2937;
}

.header p {
  margin-top: 8px;
  color: #6b7280;
}
