* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fc: white;
  --fc-header: #0dceec;
}

/* SUCCESS MDOAL */
.ticket-login-success-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.ticket-login-success-modal {
  background-color: white;
  height: min(20vw, 150px);
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  color: black;

  animation: slideDown 1s ease-in-out;
}

.ticket-login-success-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgb(159, 156, 156);
}

.ticket-login-success-modal img {
  flex: 1;
  height: 60px;
  width: 60px;
}

/* Ticket Container */
.ticket-login-page {
  color: white;
  min-height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;

  background:
    radial-gradient(circle at top right, #3b82f6 0%, transparent 30%),
    radial-gradient(circle at bottom left, #1e40af 0%, transparent 30%), #0f172a;
}

.ticket-login-card {
  width: clamp(320px, 90vw, 420px);

  background: rgba(15, 23, 42, 0.65);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: clamp(24px, 3vw, 40px);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.3),
    inset 0 1px rgba(255, 255, 255, 0.08);

  animation: flipSlideDown 1s ease-out forwards;
}

.flip-to-change {
  animation:
    pulseBorder 2s ease infinite,
    flipToChange 1s ease forwards;
}

.flip-to-login {
  animation:
    pulseBorder 2s ease infinite,
    flipToLogin 1s ease forwards;
}

.ticket-login-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    135deg,
    rgba(59, 130, 246, 0.4),
    rgba(130, 92, 246, 0.4)
  );

  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.ticket-login-header {
  text-align: center;
  margin-bottom: 30px;
}

.ticket-login-logo {
  width: 70px;
  height: 70px;

  margin: 0 auto 20px;
  border-radius: 50%;
  background: linear-gradient(135deg, #2563eb, #1e40af);
  border: 2px solid white;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 22px;
}

.ticket-login-logo img {
  height: 60px;
  width: 60px;
}

.ticket-login-header h2 {
  background: linear-gradient(90deg, #f4f5f7, #02bedb, #7103e6);
  background-clip: text;
  color: transparent;
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.ticket-login-header p {
  color: var(--fc);
  margin-top: 8px;
  font-size: 14px;
}

.ticket-login-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

/* PASSWORD ICON */
.ticket-login-group-password-icon,
.ticket-login-group-currentpassword-icon,
.ticket-login-group-newpassword-icon,
.ticket-login-group-confirmpassword-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(20%);
  color: black;
}

.ticket-login-group label {
  margin-bottom: 8px;
  color: var(--fc);
  font-size: 14px;
  font-weight: 600;
}

.ticket-login-group input {
  width: 100%;
  padding: 14px 16px;

  border: 1px solid #cbd5e1;
  border-radius: 12px;

  outline: none;
  transition: 0.25s ease;
  font-size: 14px;
}

.ticket-login-signinbtn,
.ticket-login-changepasswordbtn {
  width: 100%;

  padding: 14px;

  border: none;
  border-radius: 12px;

  background: linear-gradient(135deg, #2563eb, #102b84);

  color: white;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;

  margin-top: 10px;
}

.ticket-login-signinbtn:hover,
.ticket-login-changepasswordbtn:hover {
  transform: translateY(-2px);

  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.3);
}

.ticket-login-signinbtn:active {
  transform: translateY(0);
}

.ticket-login-group input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.15);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* PULSE BORDER */
@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 99, 235, 0.7);
  }

  70% {
    box-shadow: 0 0 0 12px rgba(37, 99, 235, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(37, 99, 235, 0);
  }
}

@keyframes flipInFade {
  0% {
    opacity: 0;
    transform: perspective(1000px) rotateY(-90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(1000px) rotateY(0deg);
  }
}

@keyframes flipSlideDown {
  0% {
    opacity: 0;
    transform: perspective(1000px) rotateX(-90deg) translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: perspective(1000px) rotateX(0deg) translateY(0);
  }
}

@keyframes flipToChange {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  50% {
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0.3;
  }

  100% {
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes flipToLogin {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  50% {
    transform: perspective(1000px) rotateY(-90deg);
    opacity: 0.3;
  }

  100% {
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0), scale(1);
    opacity: 1;
  }
}
