.container {
  margin-bottom: 25px;
}

.container input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 0.8rem;
}

.container input:focus {
  outline: none;
  border-color: #2563eb;
}
