.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  animation: modalShow 0.25s forwards;

  z-index: 999;
}

.modal {
  width: 100%;
  max-width: 550px;

  background: white;

  border-radius: 12px;

  overflow: hidden;

  animation: modalShow 0.2s ease;
}

.header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 18px 22px;

  border-bottom: 1px solid #eee;
}

.closeButton {
  border: none;

  background: transparent;

  cursor: pointer;

  font-size: 18px;
}

@keyframes modalShow {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
