.search_filter {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.search_filter input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.8rem;
}

.search_filter select {
  width: 180px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.8rem;
}

.search_filter button {
  padding: 12px 20px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.25s;
}

.search_filter button:hover {
  background: #1d4ed8;
}
