:root {
  --body-title-fc: rgb(92, 92, 98);
}

.ticket-mainstaff-dashboard-container {
  width: 100%;
}

.ticket-mainstaff-dashboard-title {
  margin-bottom: 10px;
}

/* BODY */
.ticket-mainstaff-dashboard-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

/* CONTAINER */

.ticket-mainstaff-dashboard-ticketcounter-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
}

.ticket-mainstaff-dashboard-ticketcounter-group,
.ticket-mainstaff-dashboard-performancemetric,
.ticket-mainstaff-dashboard-performanceactivity-container {
  background-color: white;
  padding: 1.3rem;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  font-weight: 500;
  max-height: 50vh;
}

.ticket-mainstaff-dashboard-ticketcounter-group h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.ticket-mainstaff-dashboard-ticketcounter-group.total {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ticket-mainstaff-dashboard-ticketcounter-group.total::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #fff, #3b82f6);
  width: 50%;
  right: 0;
  height: 100%;
  z-index: -1;
}

.ticket-mainstaff-dashboard-ticketcounter-group.open {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ticket-mainstaff-dashboard-ticketcounter-group.open::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #fff, #f59e0b);
  width: 50%;
  right: 0;
  height: 100%;
  z-index: -1;
}

.ticket-mainstaff-dashboard-ticketcounter-group.inprogress {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ticket-mainstaff-dashboard-ticketcounter-group.inprogress::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #fff, #8b5cf6);
  width: 50%;
  right: 0;
  height: 100%;
  z-index: -1;
}

.ticket-mainstaff-dashboard-ticketcounter-group.closed {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ticket-mainstaff-dashboard-ticketcounter-group.closed::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #fff, #10b981);
  width: 50%;
  right: 0;
  height: 100%;
  z-index: -1;
}

.ticket-mainstaff-dashboard-ticketcounter-group.cancelled {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ticket-mainstaff-dashboard-ticketcounter-group.cancelled::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #fff, #ef4444);
  width: 50%;
  right: 0;
  height: 100%;
  z-index: -1;
}

.ticket-mainstaff-dashboard-count {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.ticket-mainstaff-dashboard-ticketcounter-group.total svg,
.ticket-mainstaff-dashboard-ticketcounter-group.open svg,
.ticket-mainstaff-dashboard-ticketcounter-group.inprogress svg,
.ticket-mainstaff-dashboard-ticketcounter-group.closed svg,
.ticket-mainstaff-dashboard-ticketcounter-group.cancelled svg {
  flex: 1;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.ticket-mainstaff-dashboard-statistics {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

/* BODY */

.ticket-mainstaff-dashboard-table-title,
.ticket-mainstaff-dashboard-chart-title,
.ticket-mainstaff-dashboard-performancemetric-title,
.ticket-mainstaff-dashboard-performanceactivity-title {
  margin-bottom: 10px;
  width: 100%;
  color: var(--body-title-fc);
}

/* TABLE */

.ticket-mainstaff-dashboard-table-wrapper {
  margin-top: 25px;
  height: clamp(300px, 45vh, 600px);
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(153, 152, 152, 0.6);
  padding: 20px;
  border-radius: 0.7rem;

  overflow: hidden;

  border: 1px solid #e5e7eb;
}

.ticket-mainstaff-dashboard-table-container {
  overflow: auto;
  max-height: 35vh;
}

.ticket-mainstaff-dashboard-table {
  width: 100%;

  border-collapse: collapse;
  table-layout: fixed;
}

.ticket-mainstaff-dashboard-table th,
.ticket-mainstaff-dashboard-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1ps solid #eee;
  white-space: nowrap;
}

.ticket-mainstaff-dashboard-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.mainstaff-status-inprogress {
  display: inline-flex;
  align-items: center;
  padding: 5px 14px;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 600;

  background: #dcfce7;

  color: #15803d;
}

.ticket-mainstaff-dashboard-table tr {
  border-bottom: 1px solid rgb(210, 204, 204);
}
.ticket-mainstaff-dashboard-table tr:nth-child(even) {
  background-color: rgb(188, 226, 248);
}

/* STICKHY TABLE HEADER */

.ticket-mainstaff-dashboard-table th {
  position: sticky;
  top: 0;
  background: #ffffff;
  border-bottom: 2px solid #e5e7eb;
  font-size: 0.9rem;
}

.ticket-mainstaff-dashboard-chart-wrapper {
  margin-top: 25px;
  height: clamp(300px, 45vh, 600px);
  background-color: #fff;
  padding: 20px;
  border-radius: 0.7rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 5px 20px 0 rgba(153, 152, 152, 0.6);

  display: flex;
  flex-direction: column;
}

.ticket-mainstaff-dashboard-chart-wrapper h3 {
  color: rgb(92, 92, 98);
}

/* PERFORMANCE METRIC */
.ticket-mainstaff-dashboard-performancemetric {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ticket-mainstaff-dashboard-performancemetric-breakdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30vh;
  gap: 20px;
  padding: 20px;
}

.mainstaff-performancemetric-group {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid rgb(169, 164, 164);
  padding-bottom: 10px;
}

.mainstaff-performancemetric-group p,
.mainstaff-performancemetric-group h3 {
  flex: 1;
}

.mainstaff-performancemetric-group p {
  font-size: 0.9rem;
}

/* PERFORMANCE ACTIVITY */

.ticket-mainstaff-dashboard-performanceactivity-body {
  padding: 10px;
  border: 1px solid rgb(169, 164, 164);
  width: 100%;
  height: 40vh;
  overflow: auto;
}

.ticket-mainstaff-dashboard-performanceactivity-body p {
  padding: 5px;
  border-bottom: 1px solid rgb(152, 151, 151);
  font-size: 0.9rem;
}

.ticket-mainstaff-dashboard-performanceactivity-body p:nth-child(even) {
  background-color: rgb(188, 226, 248);
}

@media (max-width: 1024px) {
  .ticket-mainstaff-dashboard-statistics {
    grid-template-columns: 1fr;
  }

  .ticket-mainstaff-dashboard-ticketcounter-container {
    grid-template-columns: 1fr;
  }
}
