.ticket-mainadmin-home-layout {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  font-family: Arial, sans-serif;
}

.ticket-mainadmin-home-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* PAGE CONTENT */
.ticket-mainadmin-home-page-content {
  flex: 1;

  background-color: #f4f6fb;
  padding: 24px;
  overflow-y: auto;
}

.ticket-mainadmin-home-page-content::-webkit-scrollbar {
  height: 6px;
}

.admin-renderpage-container {
  animation: curtainOpen 1s ease-out;
  transform-origin: left;
}

@keyframes curtainOpen {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
