.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background: #88a5ef;
  cursor: pointer;
  transition: 0.25s ease;
}

.toolbar button:hover {
  opacity: 0.8;
}
