/* .ticket-mainuser-home-container {
}
.ticket-mainuser-home-maincontent {
  position: relative;
  min-height: 120vh;
  flex-direction: row;
}

.ticket-mainuser-home-page-content {
  margin-left: 200px;
  background-color: green;
}
 */

/* MAIN CONTAINER */
.ticket-mainuser-home-layout {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  min-height: 90vh;
  font-family: Arial, sans-serif;
}

.ticket-mainuser-home-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* PAGE CONTENT */
.ticket-mainuser-home-page-content {
  flex: 1;
  background: #f4f6fb;
  padding: 24px;
  overflow-y: auto;
}

.user-renderpage-container {
  animation: curtainOpen 1s ease-out;
  transform-origin: left;
}
.ticket-mainuser-home-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #111827;
}

@keyframes curtainOpen {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
/* 
@media (max-width: 768px) {
  .ticket-mainuser-home-body {
    flex-direction: column;
  }

  .ticket-mainuser-home-sidebar {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }

  .ticket-mainuser-home-menulist {
    display: flex;
    gap: 10px;
  }
  .ticket-mainuser-home-page-content {
    padding: 16px;
  }
}
 */

@keyframes pageEnter {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
