.grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
}

.card {
  background: white;

  border-radius: 16px;

  padding: 24px;

  display: flex;

  align-items: center;

  gap: 18px;

  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
}

.card svg {
  font-size: 34px;

  color: #2563eb;
}

.card h2 {
  font-size: 28px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
