.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1;

  background: white;

  border-radius: 16px;

  padding: 24px;

  display: flex;

  align-items: center;

  gap: 18px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.card svg {
  font-size: 34px;

  color: #2563eb;
}

.card h2 {
  font-size: 28px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
